.row
  .span8
    h2 For every activity, there is a setup
    p Whenever I get started with new activities, I usually look to others (friends, experts, etc) for advice on the gear I need.  I thought it'd be fun to have a tool for sharing the gear I own for the things I do.
  .span4
    h3 Planned features
    ul
      li browse by mentions or hashtags
      li browse recommended setups
      li feeds
  .span4
    h3 Have suggestions?
    p If you have suggestions or want to contribute, please email:
        
.row
  .span10
    h3 Building the site
    p It took a few weekends to build it, but I had fun tinkering with some of the new technologies available to web developers.
    p The stack is hacked together from the following great projects:
    ul
      li Frontend: Twitter Bootstrap, Jade, Backbone.js, jQuery, RoyalSlider
      li Backend: node.js, express.js, mongoose, mongo db, mongoose-auth, everyauth
      li Hosting: Heroku, MongoHQ

  .span4.offset2
    h3 About me
    p I am a PhD student in statistics at UC Irvine.
    a(href="http://www.ics.uci.edu/~duboisc") personal site
