h2 For every activity, you need the right setup
p Whenever I get started with new activities, I usually look to others (friends, experts, etc) for advice on the gear I need.  I thought it'd be fun to have a tool for sharing the gear I own for the things I do.

.row
  .span10
    h3 Building the site
    p One of the main motivations for building this site was to acquaint myself with some of the new technologies I keep reading about on <a href="hackernews.com">hackernews</a>.  I haven't really done any web development since 2001, so it took a couple weekends to build this.  Professional developers could probably do it in a matter of hours.  
    p The stack is hacked together from the following great projects:
    ul
      li Frontend: Twitter Bootstrap, Jade, Backbone.js, jQuery, RoyalSlider
      li Backend: node.js, express.js, mongoose, mongo db, mongoose-auth, everyauth
      li Hosting: Heroku

  .span4.offset2
    h3 About me
    p I am a PhD student in statistics at UC Irvine.
    a(href="http://www.ics.uci.edu/~duboisc") personal site
