script(type="text/javascript", src="/javascripts/edit.js")
#setupapp
 .row

  div.span11.columns
   
   #markerapp
        #imgtag
          img(width="600px",src= setup.url)
          #tmp-marker.hidden
            #tmp-box.highlight
            textarea(id="new-marker", placeholder="describe an item", type='text')
          #markers
            #marker-list
   script#item-template(type="text/template")
            div.highlight
             div.display
              div.highlight-text
              span.marker-destroy
             div.edit
              input.marker-input(type="textbox",value="")

  div.span5.columns
     h1#setuptitle= setup.title
     p by you
     p#setupdescription= setup.description
