!!! 5
html
  head
    title checkout my setup
    link(type="text/css", rel="stylesheet",href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.2.0.min.css")
    link(type="text/css", rel="stylesheet",href="stylesheets/extra.css")
  body
    .topbar
     .topbar-inner
      .container
        h3
          a.logo(href="/") setups
        ul.nav
          li
            a(href="/explore") browse
          - if (everyauth.loggedIn)
            li
              a(href="/manage") manage 
          li
            a(href="/about") about
        //
         form(action="")
          input(type="text",placeholder="Search")
        ul.nav.secondary-nav
          li
             - if (!everyauth.loggedIn)
              #password-login
                a(href="/login") login
             - else
              a(href="/request") request
   #masthead(style="text-align:center;")
     .inner
       .container
          h1 Every activity has a setup.
          h1 Share yours, checkout others.
          form(action='/request', method='POST',style="margin:0px;")
            input.large(type='text',placeholder="your email address", name="email")
            input.btn.success(type="submit",value="Request an invite")
  .row(style="text-align:center;margin-top:20px;")
      img(src="images/example.png",width=750)
  #intro
   .container
    .well
     .row
      .span5.columns
        h2 Show off your stuff
        p Sometimes you're proud of your stuff.  Take a picture, tag your things, and share it.
      .span5.columns
        h2 Give reviews
        p Got a passion?  Share the right setup for the job, and give short reviews.
      .span5.columns
        h2 Explore setups
        p Some activities require the right gear, and when you're new you're curious what others use.
      
