script(src="javascripts/royal-slider-5.0.min.js")
script(src="javascripts/jquery.easing.1.3.min.js")
link(type="text/css", rel="stylesheet",href="/stylesheets/register.css") 
link(type="text/css", rel="stylesheet",href="/stylesheets/royal-slider-5.0.css") 
.container-fluid
  .sidebar
    h2 Create an account
    - if ('undefined' !== typeof errors && errors.length)
      div.alert-message.error(style="margin-top:15px;")
       ul#errors
         - each error in errors
           li.error
              p= error
    #forms
        form(action='/register', method='POST')
          input.medium(type='text', name='name.first', placeholder="Username")
          input.medium(type='text', name=everyauth.password.loginFormFieldName, value=userParams[everyauth.password.loginFormFieldName],placeholder="Email",autocomplete='false')
          input.medium(type='password', name=everyauth.password.passwordFormFieldName,placeholder="Password",autocomplete='false')
          input.btn.success(type="submit",value="Create New Account")
  .content
    h3 Or sign up with:
    p
        #fb-login.fb_button(style='float: left; background-position:left -188px')
         a.fb_button_medium(href='/auth/facebook')
          span#fb_login_text.fb_button_text
             Connect with Facebook

script(src="javascripts/register.js")
