	body {
		font-family: 'Lucida Grande', 'Segoe UI', 'Ubuntu', sans-serif;
		/* /\* text-shadow: 0 1px 0 white; *\/ */
		/* color: #111; */
	}
	.highlight {
		position: absolute;
		width: 20px;
		height: 20px;
                font-size: medium;
		background: #888;
                opacity:.5;
		border-radius: 100px;
		border: 2px solid white;
		box-shadow: 0 0 2px 2px #888;/*rgba(240, 18, 18, 0.5);*/
		overflow: hidden; 
		cursor: pointer;
	}
	
	.highlight:hover {
		overflow: visible; 
		opacity: 1 !important;
                background-color:red;
		z-index: 1;
	}
	.highlight .highlight-text a {
               color:red;
        }
	
	.highlight .highlight-text {
		position: absolute;
		left: -25px;
		top: 10px;
		padding: 8px;
		background: rgba(0,0,0,0.8);
		border-radius: 4px;
		opacity: 0;
		color: white;
		text-shadow: 0 1px black;
		min-width: 200px;
		font-size: 90%;
	}
	
	.highlight .highlight-text.right {
		left: -200px;
	}
	
	.highlight:hover .highlight-text {
		opacity: 1;
		-webkit-transition: 1s ease opacity;
		-moz-transition: 1s ease opacity;
		-ms-transition: 1s ease opacity;
		-o-transition: 1s ease opacity;
		transition: 1s ease opacity;
	}

